/* Botones y contenedores principales */
.btn-ofertas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.85);
}

.user-dropdown {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

/* Estilos de navegación */
#backArrow {
  position: absolute;
  left: 10px;
  font-size: 1.5rem;
  text-decoration: none;
}

#backArrow:hover {
  color: #ccc;
}

/* Contenedor de imágenes */
.contenedor {
  background-image: url(../img/auto\ rojo.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
}

.contenedor img {
  max-width: 100%;
  height: auto;
}

/* Encabezados */
h1,
h2,
h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: right;
  font-weight: bold;
  margin: 10px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

h2,
h3 {
  margin-top: 25px;
  margin-left: 20px;
  font-size: 30px;
  word-spacing: 10px;
}

h2 {
  margin-left: 400px;
  font-family: "Arial Impact";
}

h3 {
  margin-right: 100px;
  color: red;
  letter-spacing: 1px;
}

/* Estilos del buscador */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.search-box {
  position: relative;
  width: 60%;
  max-width: 500px;
}

#searchBox {
  width: 100%;
}

.search-box input {
  width: 100%;
  padding: 10px 15px 10px 40px;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.search-box i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #999;
}

/* Botones y tabs */
#ofertasBtn,
#productsBtn,
#nuevosIngresosBtn {
  margin: 20px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  border-color: red;
}

#ofertasBtn:hover,
#productsBtn:hover,
#nuevosIngresosBtn:hover {
  background-color: yellow;
  color: red;
}

.tabs {
  margin-left: 100px;
}

.border-left-custom {
  display: inline-block;
  padding: 0 15px;
  border-right: 1.5px solid #6b6767;
  margin-left: 10px;
}

/* Estilos de los tabs */
.tablink {
  background-color: rgba(255, 255, 255, 0.93);
  border: 2px solid red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgb(8, 7, 7);
  padding: 12px;
  margin-top: 1px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tablink:hover {
  background-color: rgb(255, 0, 0);
}

.tablink.active {
  background-color: rgb(255, 255, 255);
  color: red;
}

.tabcontent {
  display: none;
  padding: 20px;
  border-top: none;
  background-color: rgb(0, 9, 128);
}

.tabcontent.active {
  display: block;
}

/* Contenedor de productos */
#product-container {
  padding: auto;
  margin: 20px 150px;
}

/* Estilo de filtro fijo */
.filtro-fijo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: auto;
}

/* Estilo de tarjeta de filtro */
.filtro-fijo .card {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px;
  max-height: 80vh;
  overflow-y: auto;
}

/* Botones de filtrado */
.filtro-fijo .btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Botón pulsante */
.filtro-fijo > button {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Mensaje cuando no hay productos */
.no-products-message {
  margin-top: 50px;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

.no-products-message i {
  margin-top: 10px;
  font-size: 2rem;
  color: gray;
}

/* Estilos personalizados de dropdown */
.dropdown-menu {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dropdown-menu img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.dropdown-menu .form-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-check-input {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background-color: #ddd;
}

.dropdown-menu p,
.dropdown-menu h6 {
  font-size: 12px;
  margin-bottom: 0;
}

.dropdown {
  margin: 0 0 10px;
}

#userDropdown {
  margin: 10px 0;
}

/* Media queries */
@media (max-width: 768px) {
  #backArrow {
    display: none;
  }
  .container {
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  .user-info {
    position: static;
    margin-left: auto;
  }
}

@media only screen and (max-width: 568px) {
  .contenedor {
    height: 200px;
  }

  .btn-ofertas {
    padding-top: 0;
    padding-bottom: 0;
  }

  .user-info {
    position: right;
    right: 10px;
  }

  h1 {
    text-align: left;
  }

  h2,
  h3 {
    display: none;
  }

  #product-container {
    padding: 0;
    margin: 20px 15px;
  }
}
