.contenedor img {
  max-width: 100%;
  height: auto;
}

.contenedor {
  background-image: url(../img/auto\ rojo.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
}

h1 {
  text-align: right;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin-left: auto;
  color: white;
  font-family: Arial Impact;
}

h3 {
  margin-top: 20px;
  margin-left: 2px;
  margin-right: 60px;
  color: red;
  font-weight: bold;
  font-family: Arial Impact;
}

.welcome-bar {
  display: flex;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.852);
  padding-top: 8px;
  padding-bottom: 2px;
}
.user-info {
  position: absolute;
  top: 10px;
  right: 120px;
  color: white;
}

.tablink.active {
  background-color: rgb(255, 255, 255);
  color: red;
}

.tabcontent {
  display: none;
  padding: 20px;
  border-top: none;
  background-color: rgb(0, 9, 128);
}

.tabcontent.active {
  display: block;
}

.tablink {
  background-color: rgba(255, 255, 255, 0.93);
  border: 2px solid red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgb(8, 7, 7);
  padding: 12px 12px;
  margin-top: 1px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tablink:hover {
  background-color: rgb(255, 0, 0);
}

.contenedor img {
  max-width: 100%;
  height: auto;
}

#product-container {
  padding: auto;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
} 

@media only screen and (max-width: 568px) {
  .contenedor {
    height: 200px;
  }

  .welcome-bar {
    display: grid;
    padding-top: 10px;
  }

  .button{
    padding: 5px;
    background-color: rgb(240, 229, 229);
    margin-left: 0px;
  }
  h1 {
    text-align: left;
  }
  h2 {
    margin-left: 0px;
    text-align: center;
  }
  
  h3 {
    margin: 0px;
    text-align: center;
  }

  #product-container {
    margin: 20px;
  }
}

.tabs {
  margin-left: 100px;
}

/* .text-muted {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.852);
}
 */
