.car {
  margin: 5rem;
  align-items: center;
  display: flex;
}

.image-gallery {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  padding: 0.5rem;
  border: 0.2rem rgb(176, 176, 176) solid;
  border-radius: 1rem;
  margin: 1rem;
  width: 10rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.thumbnail:hover {
  transform: scale(1.1);
}

#backArrow {
  position: absolute;
  left: 10px;
  /* Ajusta la distancia desde la izquierda */
  /* top: 10px; */
  /* Ajusta la distancia desde la parte superior */
  font-size: 1.5rem;
  /* Tamaño del ícono */
  text-decoration: none;
}

#backArrow:hover {
  color: #ccc;
  /* Cambiar color al hacer hover sobre la flecha */
}

.main-image {
  padding: 1rem;
  border: 0.2rem rgb(176, 176, 176) solid;
  border-radius: 1rem;
  margin-left: 1rem;
}

.main-image img {
  width: 40rem;
  height: auto;
}

.descripcion {
  margin-top: 5rem;
  margin-left: 4rem;
  border: 2px solid #ccc;
}

.title {
  margin-top: 1rem;
  font-size: 2rem;
  /* margin-bottom: 3rem; */
  font-family: Arial;
  font-weight: bold;
}

.description {
  font-family: Arial;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(98, 98, 98);
}

.soldCount {
  font-family: Arial;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(167, 167, 167);
}

.category {
  margin-top: 4rem;
  font-family: Arial;
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

/* Estilos para pantallas entre 768px y 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .thumbnail-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Para asegurar que haya espacio entre las imágenes */
    margin-right: 20px;
    /* Espacio entre las imágenes pequeñas y la principal */
  }

  .main-image {
    margin-left: 20px;
    /* Asegura espacio entre la imagen principal y las miniaturas */
  }
}

/* Ocultar la flecha en pantallas de 768px y menores */
@media (max-width: 768px) {
  #backArrow {
    display: none;
  }
}

@media only screen and (max-width: 568px) {
  .car {
    display: grid;
    flex-direction: row;
    margin: 1rem;
    padding: 0;
  }

  .contenedor {
    padding: 1rem;
  }

  .descripcion {
    margin: 0;
    margin-top: 1rem;
    text-align: center;
  }

  .description {
    margin-left: 0;
    /* align-items:start; */
    padding: 1rem;
    /* justify-content: center;
        align-items: center; */
  }

  .title {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .soldCount {
    /* align-items: center; */
    margin-left: 0;
  }

  .category {
    margin-left: 0;
    margin-top: 1rem;
    padding: 0;
  }

  .image-gallery {
    display: grid;
    padding: 0;
    margin-right: 0;
  }

  .main-image img {
    align-items: center;
    width: 90%;
    /* height: auto; */
    margin-left: 1rem;
  }

  .main-image {
    display: contents;
    /* padding: 1rem; */
    border: 0;
    width: 80%;
    margin: 0;
  }

  .thumbnail-images {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 0rem;
  }

  .thumbnail {
    /* align-items: center;
        justify-content: center; */
    margin-left: 0.3rem;
    padding: 0;
    border: 0;
    border-radius: 0;
    width: 6rem;
  }

  #backArrow {
    position: relative;
    /* justify-content: center;
        align-self: center; */
  }

  .container {
    align-items: center;
    text-align: center;
  }

  #comentarios-container {
    align-items: center;
  }

  
}

.productos-relacionados {
  margin-top: 20px;
}

#listaProductosRelacionados {
  margin-top: 30px;
}

.lista-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto-item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: calc(25% - 20px);
  text-align: center;
}

.coment {
  font-family: Arial;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.612);
}

#calificacion-form {
  font-family: Arial;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#calificacion-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

#calificacion-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

#calificacion-form textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

#calificacion-form button:hover {
  background-color: #5597de;
}

#calificacion-form textarea {
  resize: vertical;
}

#puntuacion {
  background-color: #5597de;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
#btnCalif {
  background-color: #5597de;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.comentario {
  font-family: Arial;
  background-color: #93c4f6;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  text-align: left;
}
.comentUser {
  font-family: Arial;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #000000;
}
.checked {
  color: orange;
}

.linea {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #000000;
}

.linea2 {
  margin-bottom: 2rem;
  border: 3px solid #000000;
}
/* Posicionar el ícono en la esquina superior derecha */
.theme-container {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite; /* Efecto pulsante */
}

#theme-icon {
  font-size: 2.5rem;
  transition: transform 0.5s ease;
}

/* Efecto pulsante (parpadeo suave) */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Personaliza el estilo del interruptor */
.form-check-input {
  width: 40px;
  height: 20px;
  background-color: #ddd;
}
.form-check-input:checked {
  background-color: #4a5568; /* Color oscuro cuando está activado */
}
/* Estilos para hacer el dropdown más personalizado */
.dropdown-menu {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dropdown-menu img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.dropdown-menu .form-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-check-input {
  cursor: pointer;
}

/* Reducir el tamaño de la fuente en el dropdown */
.dropdown-menu p,
.dropdown-menu h6 {
  font-size: 12px; /* Ajusta el tamaño de la fuente */
  margin-bottom: 0; /* Eliminar márgenes inferiores para más espacio */
}
