/* .prueba02{
    color: aqua;
    border-radius: 8px solid red;
font-size: 10px;
}

.ido{
    background-color: yellow;
} */
.titulo{
    color: red;
    background-color: aqua;
    font-size: 50px;
}
/* .otra-clase{
    background-color: blueviolet;
    font-style: italic;
    color: black;
} */